@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

:root{
    --cor1: #ff52bf;
    --cor2: #ebfbff;
    --cor3: #00252e;
    --cor4: #808d99;

    --font1: 'Open Sans', sans-serif;
    --font2: 'Poppins', sans-serif;
}

body{
    font-family: var(--font1);
    min-height: 350px;
    max-width: 1440px;
    margin: auto;
}

.cabecalho{
    background-color: var(--cor2);
    background-image: url('../images/bg-hero-desktop.svg');
    padding-bottom: 20px;
}

div.cabecalho-principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60%;
    padding: 20px;
}

.cabecalho-logo{
    height: 40px;
}

.cabecalho-butao{
    background-color: white;
    color: var(--cor3);
    width: 150px;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    font-family: var(--font2);
}

.cabecalho-butao:hover{
    opacity: 0.7;
}

.header-cabecalho{
    display: flex;
    padding-top: 40px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.header-conteudo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header-conteudo-titulo{
    font-family: var(--font1);
    color: var(--cor3);
    font-size: 2em;
}

.header-conteudo-subtitulo{
    color: var(--cor3);
    font-size: 1.2em;
    width: 40rem;
}

.header-cabecalho-butao {
    background-color: var(--cor1);
    color: var(--cor2);
    font-size: 1em;
    font-family: var(--font2);
    padding: 15px;
    width: 200px;
    border-radius: 20px;
    border: none;
    margin-top: 15px;
}

.header-cabecalho-butao:hover{
    opacity: 0.7;
}

.header-conteudo-imagem {
    width: 50%;
}

@media (max-width: 925px) {
    div.cabecalho-principal,.header-cabecalho, .header-conteudo, .header-conteudo-subtitulo {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 21px;
        background-image: url('../images/bg-hero-mobile.svg');
        text-align: center;
        width: 18.2rem;
        align-items: center;
        margin: auto;
    }
}

main {
    padding: 30px;
}

.conteudo-principal{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 327px;
    justify-content: space-around;
    align-items: center;
    box-shadow: -1px 0px 11px 0px rgba(0, 0, 0, 0.377);
    border-radius: 5px;
    margin-top: 30px;
    padding: 10px;

}

.conteudo-principal:hover{
    transform: scale(1.01);
    transition: ease-in-out 0.4s;

}

.conteudo-principal-descricao {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 24px;
    margin: auto;
    position: initial;
}

.conteudo-principal-titulo{
    font-size: 1.5em;
    color: var(--cor3);
}

.conteudo-principal-paragrafo {
    color: var(--cor4);
    width: 27rem;
}


.conteudo-principal-imagem{
    height: 270px;
}

@media (max-width: 916px) {
    .conteudo-principal-titulo {
        text-align: center;
    }
    .conteudo-principal-paragrafo {
        width: 12rem;
    }

    .conteudo-principal {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        height: 564px;
        width: 16rem;
        margin: 30px auto;
        width: 16.3rem;
    }
    .conteudo-principal-imagem{
        height: 158px;
    }
}

.conteudo-a-parte{
    border-radius: 9px;
    position: absolute;
    background-color: white;
    width: 510px;
    padding: 25px;
    margin: auto ;
    text-align: center;
    margin: 88px 388px;
    box-shadow: -1px 0px 11px 0px rgb(0 0 0 / 38%);
}

.conteudo-parte-titulo {
    font-size: 1em;
    font-family: var(--font2);
}

.conteudo-parte-butao {
    background-color: var(--cor1);
    color: var(--cor2);
    padding: 15px;
    width: 200px;
    border-radius: 20px;
    border: none;
    margin-top: 15px;
}

footer{
    background-attachment: fixed;
    background-color: var(--cor3);
    color: var(--cor2);
    height: 48vh;
}

footer#robape {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-top: 118px;
}

div.coluna-1 {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.coluna-1-imagem {
    width: 240px;
    filter: invert(1)  sepia(1);
    margin-top: 90px;
}

.ima{
    margin-right: 15px;
}

.coluna-2  ul {
    list-style: none;
    columns: 2;
}

.coluna-2  li{
    margin-bottom: 20px;
}

.coluna-2 a{
    color: var(--cor2);
}

.coluna-2 a:hover{
    text-decoration: underline;
    color: var(--cor1);
}

@media (max-width: 780px) {
    .conteudo-a-parte {
     width: 297px;
    padding: 15px;
    text-align: center;
    margin: 80px -32px;
    }

    footer {
        height: 132vh;
    }
    footer#robape {
        flex-direction: column;
        padding-top: 156px;
        flex-wrap: nowrap;
        align-items: normal;
        padding-left: 12px;
    }

    .coluna-2 ul {
        columns: 1;
    }
    .coluna-2 li {
        margin: 23px 0;
    }
}